.contato {
    padding: 1em;
    color: var(--cor-azul-gradiente)
}

.contato__titulo {
    font-size: 18px;
    font-weight: 500;
    background: var(--cor-azul-gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contato__texto {
    margin: 1em 0 1em;
    background: var(--cor-azul-gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contato__email {
    background-color: transparent;
    color: var(--cor-azul-escuro);
    border: 1px solid var(--cor-azul-escuro);
    border-radius: 24px;
    padding: 1em;
    width: 90%;
}


.contato__email::placeholder {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 3em;
    color: var(--cor-azul-escuro);
    background: url('../../img/Email.svg');
    background-repeat: no-repeat;
    background-position: 0.5em;
}